.series-btc-dfi *.chart-series-area-fill{
    -fx-fill: #ffa700;
}

.series-eth-dfi *.chart-series-area-fill{
    -fx-fill: #96a7fd;
}

.series-usdt-dfi *.chart-series-area-fill{
    -fx-fill: #60ce88;
}

.series-doge-dfi *.chart-series-area-fill{
    -fx-fill: #bab300;
}

.series-btc-dfi *.chart-series-area-line{
    -fx-stroke: #ffa700;
}

.series-eth-dfi *.chart-series-area-line{
    -fx-stroke: #96a7fd;
}

.series-usdt-dfi *.chart-series-area-line{
    -fx-stroke: #60ce88;
}

.series-ltc-dfi *.chart-series-area-line{
    -fx-stroke: #375CD6;
}
.series-doge-dfi *.chart-series-area-line{
    -fx-stroke: #bab300;
}


.default-color0.chart-area-symbol { -fx-background-color: #ffa700, white; }
.default-color1.chart-area-symbol { -fx-background-color: #96a7fd, white; }
.default-color2.chart-area-symbol { -fx-background-color: #60ce88, white; }
.default-color3.chart-area-symbol { -fx-background-color: #375CD6, white; }
.default-color4.chart-area-symbol { -fx-background-color: #bab300, white; }
.default-color5.chart-area-symbol { -fx-background-color: #860061, white; }
.default-color6.chart-area-symbol { -fx-background-color: #c62b00, white; }
.default-color7.chart-area-symbol { -fx-background-color: #ff5700, white; }
