.default-color0.chart-series-line { -fx-stroke: #FF00AF; }
.default-color1.chart-series-line { -fx-stroke: #FF00AF; }
.default-color2.chart-series-line { -fx-stroke: #FF00AF; }
.default-color3.chart-series-line { -fx-stroke: #FF00AF; }
.default-color4.chart-series-line { -fx-stroke: #FF00AF; }
.default-color5.chart-series-line { -fx-stroke: #FF00AF; }
.default-color6.chart-series-line { -fx-stroke: #FF00AF; }
.default-color7.chart-series-line { -fx-stroke: #FF00AF; }

.default-color0.chart-line-symbol { -fx-background-color: #FF00AF, white; }
.default-color1.chart-line-symbol { -fx-background-color: #FF00AF, white; }
.default-color2.chart-line-symbol { -fx-background-color: #FF00AF, white; }
.default-color3.chart-line-symbol { -fx-background-color: #FF00AF, white; }
.default-color4.chart-line-symbol { -fx-background-color: #FF00AF, white; }
.default-color5.chart-line-symbol { -fx-background-color: #FF00AF, white; }
.default-color6.chart-line-symbol { -fx-background-color: #FF00AF, white; }
.default-color7.chart-line-symbol { -fx-background-color: #FF00AF, white; }


.root {
    -fx-base: white;
}

.grid-pane {
    -fx-base: white;
}


.label{
    -fx-text-fill: #FF00AF;
}

.text-field {
    -fx-prompt-text-fill: #FF00AF;
}


.titulo{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: #FF00AF;
}

.combo-box .cell:selected {
    -fx-text-fill: #FF00AF;
}


.date-picker > .text-field {
    -fx-background-color: white;
    -fx-text-fill: #FF00AF;
}

.button{
    -fx-focus-traversable: false;
    -fx-text-fill: #FF00AF;
}

.button:hover{
    -fx-text-fill: #FF00AF;
}

.tab-pane > .tab-header-area {
  -fx-padding: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
  -fx-background-color: white, white;
  -fx-background-insets: 0, 0 0 1px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
  -fx-background-color: white;
  -fx-background-insets: 0 0 1px 0;
  -fx-padding: 1.5em 1em;
}

.tab-pane > .tab-header-area > .headers-region > .tab >.tab-container >.tab-label {
  -fx-text-fill: #FF00AF;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
  -fx-background-color: #FF00AF, white;
  -fx-background-insets: 0, 0 0 2px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.tab-label {
  -fx-text-fill: #FF00AF;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.focus-indicator {
  -fx-opacity: 0;
}

.separator *.line {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}